select{
    color: brown;
}

button{
    color: blue;
}

h1{
    color: aqua;
}

header{
    background-color: blueviolet;
}

footer{
    background-color: darksalmon;
}

main{
    background-color: aqua;
}

